.document-height .csf-fieldset p,
.document-width .csf-fieldset p{
	width: 100%;
	overflow: hidden;
}
.dfsp {
	font-size: 15px;
    margin-bottom: 5px;
}

element.style {
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #ededed;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
}